/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/* ----------------------------Landing Page----------------------- */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 5px 0;
    background: #fff;
    box-shadow: 0px 10px 30px rgba(0, 71, 55, 0.1);
  }
  .main-header .search {
    max-width: 140px;
  }
  .main-header .search .btn {
    line-height: 1;
  }
  .main-header .search .btn i {
    font-size: 20px;
  }
  .main-header .search .form-control {
    color: #fff;
  }
  .main-header .search .form-control::-moz-placeholder {
    color: #95A5CE;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-header .search .form-control:-ms-input-placeholder {
    color: #95A5CE;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-header .search .form-control::placeholder {
    color: #95A5CE;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-header .navbars-collapse .navbars-nav {
    padding-left: 60px;
  }
  .main-header .navbars-collapse .navbars-nav .nav-item .nav-link {
    font-size: 17px;
    padding: 0px 50px 0 0;
    color: #061434;
    font-weight: 500;
  }
  .main-header .navbars-collapse .navbars-nav .nav-item .nav-link:hover {
    color: #1642B9;
  }
  .main-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 12px 0;
    background: #fff;
    box-shadow: 0px 10px 30px rgba(0, 71, 55, 0.1);
  }
  .main-header.sticky .search .form-control {
    color: #000;
  }
  .main-header.sticky .search .form-control::-moz-placeholder {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-header.sticky .search .form-control:-ms-input-placeholder {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-header.sticky .search .form-control::placeholder {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-header.sticky .search i {
    color: #000 !important;
  }
  .main-header .nav-toggler i {
    font-size: 35px;
  }
  .main-header .offcanvas .offcanvas-header .btn-close {
    margin-top: -25px;
    margin-right: 0px;
  }
  .main-header .offcanvas .offcanvas-header .btn-close i {
    font-size: 35px;
    color: #061434;
  }
  .main-header .offcanvas .navbars-nav .nav-link {
    color: #061434;
    font-weight: 500;
    font-size: 20px;
  }
  .containers,
.containers-fluid,
.containers-xl,
.containers-lg,
.containers-md,
.containers-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .containers-sm, .containers {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .containers-md, .containers-sm, .containers {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .containers-lg, .containers-md, .containers-sm, .containers {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .containers-xl, .containers-lg, .containers-md, .containers-sm, .containers {
    max-width: 1320px;
  }
}
.hero-banner {
    padding-bottom: 70px;
  }
  .hero-banner::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 65%;
    background-color: #F9F9FB;
    left: 0;
    top: 0;
  }
  .hero-banner::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/images/hero/right-background.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .hero-banner .left-hero-color {
    padding-top: 250px;
    z-index: 1;
  }
  .hero-banner .left-hero-color::before {
    position: absolute;
    content: "";
    top: 150px;
    left: -150px;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url(../../assets/images/hero/leftside-backlayer-icons.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .hero-banner .left-hero-color img {
    margin-left: -35px;
  }
  .hero-banner .left-hero-color h1, .hero-banner .left-hero-color .h1 {
    font-size: 75px;
    max-width: 70%;
  }
  .hero-banner .left-hero-color p {
    color: #7A8496;
    font-size: 18px;
    padding: 30px 0;
    font-weight: 500;
  }
  .hero-banner .left-hero-color a span {
    transform: rotate(90deg);
  }
  .hero-banner .right-hero-color {
    padding-top: 250px;
    z-index: 1;
  }
  .hero-banner .right-hero-color::after {
    position: absolute;
    content: "";
    top: 250px;
    right: -150px;
    width: 35%;
    height: 70%;
    background-size: contain;
    background-image: url(../../assets/images/hero/rightside-backlayer-icons.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
  @media screen and (max-width: 9999px) and (min-width: 2400px) {
    .hero-banner::before {
      width: 55%;
    }
    .hero-banner::after {
      width: 45%;
    }
    .contact::before {
      background-size: cover;
    }
  }
  @media screen and (max-width: 2399px) and (min-width: 1700px) {
    .hero-banner::before {
      width: 60%;
    }
    .hero-banner::after {
      width: 40%;
    }
    .contact::before {
      background-size: cover;
    }
  }
  /*max-width-1024px*/
  @media (max-width: 1199.98px) {
    .main-header .offcanvas .navbar-nav .nav-link {
      padding: 0 0 20px;
    }
    .hero-banner .left-hero-color {
      padding-top: 150px;
    }
    .hero-banner .left-hero-color h1, .hero-banner .left-hero-color .h1 {
      font-size: 60px;
    }
    .hero-banner .right-hero-color {
      padding-top: 100px;
    }
}
/* ---------------------Custom Navbar-------------------------- */
.navbars {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-padding-y: 0.359375rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.40625rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.40625rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 15px;
    --bs-navbar-toggler-focus-width: 0px;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  }
  .navbars > .container,
  .navbars > .container-fluid,
  .navbars > .container-sm,
  .navbars > .container-md,
  .navbars > .container-lg,
  .navbars > .container-xl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbars-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
  }
  .navbars-brand:hover, .navbars-brand:focus {
    color: var(--bs-navbar-brand-hover-color);
  }
  
  .navbars-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbars-nav .show > .nav-link,
  .navbars-nav .nav-link.active {
    color: var(--bs-navbar-active-color);
  }
  .navbars-nav .dropdown-menu {
    position: static;
  }
  
  .navbars-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--bs-navbar-color);
  }
  .navbars-text a,
  .navbars-text a:hover,
  .navbars-text a:focus {
    color: var(--bs-navbar-active-color);
  }
  .our-service {
    padding: 150px 0;
    background-color: #F9F9FB;
  }
  .our-service::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url(../../assets/images/our-service/our-service-background.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
  .our-service small, .our-service .small {
    color: #7A8496;
    padding-bottom: 30px;
    font-weight: 600;
  }
  .our-service h2, .our-service .h2 {
    font-weight: 600;
  }
  .our-service p {
    color: #7A8496;
    line-height: 30px;
    padding: 25px 0 35px;
  }
  .our-service ul li {
    padding-bottom: 25px;
    line-height: 30px;
  }
  .our-service ul li i {
    color: #37A05B;
    position: relative;
    top: 3px;
  }
  .our-service ul li span {
    width: 90%;
    font-weight: 600;
  }




  .contact{
    padding: 100px 0 80px;
    &::before{
        position: absolute;
        content: "";
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url(../../assets/images/contact/contact-background-layer.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
    }
    .dots-shape-left{
        left: -75px;
        height: 110px;
        top: -80px;
        width: 110px;
    }
    .dots-shape-right{
        right: -15px;
        height: 110px;
        width: 110px;
        top: -35px;
    }
  }





  /* ------------Custom-------------------------- */

  .glassmorphism-form {
    background: rgba(255, 255, 255, 0.042);
    border-radius: 10px;
    padding: 50px 50px 50px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.056);
  }
  /*
  .form-group {
    margin-bottom: 1rem;
  } */
  
  .form-control {
    background: rgba(255, 255, 255, 0.1);
    color: #000000;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }


  
  /* -----------------Login Page------------------------------- */

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .screen {		
    background: linear-gradient(90deg, #2e447d, #385f8e);		
    position: relative;	
    height: 500px;
    width: 560px;	
    box-shadow: 0px 0px 24px #2e2f7d;
    border-radius: 25px;
  }
  
  .screen__content {
    z-index: 1;
    position: relative;	
    height: 100%;
  }
  
  .screen__background {		
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);	
  }
  
  .screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #e8edf5;	
    top: -50px;
    right: 120px;	
    border-radius: 0 72px 0 0;
  }
  
  .screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #1b1c5e;	
    top: -172px;
    right: 0;	
    border-radius: 32px;
  }
  
  .screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #342e7d, #3e388e);
    top: -24px;
    right: 0;	
    border-radius: 32px;
  }
  
  .screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #1b1c5e;	
    top: 420px;
    right: 50px;	
    border-radius: 60px;
  }
  
  .login {
    width: 320px;
    padding: 0px 30px 0px 30px;
  }
  
  .login__field {
    padding: 20px 0px;	
    position: relative;	
  }
  
  .login__icon {
    position: absolute;
    top: 30px;
    color: #1b345e;
  }
  
  .login__input {
    border: none;
    border-bottom: 2px solid #a6a5d6;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    transition: .2s;
  }
  
  .login__input:active,
  .login__input:focus,
  .login__input:hover {
    outline: none;
    border-bottom-color: #435da0;
  }
  
  .login__submit {
    background: #e8e9f5;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #c8cee6;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #1b1c5e;
    box-shadow: 0px 2px 2px #342e7d;
    cursor: pointer;
    transition: .2s;
  }
  
  .login__submit:active,
  .login__submit:focus,
  .login__submit:hover {
    border-color: #4a43a0;
    outline: none;
  }
  
  .button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #1b225e;
  }
  